@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 14px;
  background: #fafafa;

  padding-bottom: 100px;
}
